html.site {
	width: 100%;
	height: 100%;
}

body.main{
	background: white;
	width: 100%;
	margin:0;
}
#PageTitle{
	text-align: center;
}
.centerme{
	display:block;
	margin-right: auto;
	margin-left: auto;
}
#form{
	text-align: center;
}
#final{
	text-align: center;
}
.totheleft{
	position: absolute;
	left:0px;
	top:0px;
	width: 25%;
	height:100%;
	background-color: #CA9B00;
}
.totheright{
	position: absolute;
	right:0px;
	top:0px;
	width: 25%;
	height:100%;
	background-color: #CA9B00;
}

